body {
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
  color: #3b4b60;
}

h1, h2 {
  font-family: 'Lora', serif;
}

h1 {
  font-size: 3.5em;
  margin-top: 0;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #a77b3f;
}

h2 {
  font-size: 2.5em;
}

a {
  text-decoration: none;
  color: #091d36;
  font-size: 1em;
  font-weight: 600;
}

.pane {
  position:absolute;
  left: 25%;
  border: 2px solid;
  border-radius: 25px;
  padding: 5px;
  margin: 5px;
  border-color: #999999;
  background-color: #333333;
  width: 50%;
}

.header {
  /* left:50%; */
  text-align: center;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

ul {
  list-style-type: none;
}

li {
  padding: 10px 15px 0 15px;
}
