@import "forms.css";

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f1f1f0;
  font-weight: 500;
  font-size: 1.2em;
}

h1, h2 {
  font-family: 'Lora', serif;
  text-align: center;
}

h1 {
  font-size: 3.5em;
  margin-top: 0;
  padding-bottom: 10px;
  border-bottom: 2px solid #a77b3f;
}

h2 {
  font-size: 2.5em;
}

h3 {
  color: #35838d;
  font-size: 1.5em;
  padding-bottom: 0px;
  margin-bottom: 5px;
}

p {
  color: #012e33;
}

a {
  text-decoration: none;
  color: #091d36;
  font-size: 1em;
  font-weight: 600;
}

.new,
.author-names {
  color: #35838d;
}

.new:hover{
  text-decoration: underline;
}

.pane {
  width: 80%;
  position:absolute;
  left: 10%;
  border-radius: 25px;
  background-color: #c6cdda;
  padding-left: 30px;
  padding-right: 30px;
}

.header {
  text-align: center;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 0px;
}

ul {
  list-style-type: none;
}

li {
  padding: 10px 15px 0 15px;
}

.nav-link {
  color: #35838d;
}

.edit-delete {
  color: #a77b3f;
  font-size: 0.9em;
}

.edit-delete:hover {
  text-decoration: underline;
}

.author-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 15px;
}

.author-names {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.author-names:hover {
  color: #012e33;
}

.book-info,
.author-info {
  padding-bottom: 10px;
  border-bottom: 1px solid #35838d;
  margin-bottom: 50px;
}

.book-info {
  text-align: justify;
}

.book-info:last-child,
.author-info:last-child {
  border-bottom: none;
}

.book-info h3 {
  color: #012e33;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.edit-book-info,
.edit-author-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.edit-book-info a,
.edit-author-info a{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}
