<html>

<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	<link href="https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
	{% include "header.html" %}

	<div class='pane'>
		<h2>Books by {{ author.name }}</h2>

		<a class="new" href = "{{url_for('add_book', author_id=author.id)}}">+ New Book</a>

    {% if books %}

			{% for book in books %}
				<div class="book-info">
					<h3>{{book.title}}</h3>

					{% if book.description %}
						<p>{{book.description}}</p>
					{% else %}
						<p>No description provided for this book yet.</p>
					{% endif %}

					<div class="edit-book-info">
						<a class="edit-delete" href="{{url_for('edit_book', author_id=author.id, book_id=book.id)}}">
							Edit</a>
						<a class="edit-delete" href="{{url_for('delete_book', author_id=author.id, book_id=book.id)}}">
							Delete</a>
					</div>
				</div>
		{% endfor %}

		{% else %}
			<p>You don't have books of this author yet.<p>
		{% endif %}

</div>
</body>
</html>
