<html>

<head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap" rel="stylesheet">
</head>

<body>

  {% include "header.html" %}

  <div class = "pane">
    <h2>Delete Author</h2>
    <div class="delete-author">
      <p>Are you sure you want to delete <strong>{{author.name}}</strong> from catalog?</p>

      <form class="form-delete-author" action="#" method = 'post'>
        <input type="submit" name="submit-button" value ="Delete">
        <input type="submit" name="submit-button" value="Cancel">
      </form>

    </div>
  </div>
</body>
</html>
