<html>

<head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
  {% include "header.html" %}
  <div class="pane">
    <h2>Edit Book</h2>

    <form class="form-edit-book" action="#" method = 'post'>

      <div class="book-title">
        <label for="book-name">Title:</label>
        <input type ='text' name='book-name' id="book-name" value='{{book.title}}'>

        {% if empty_title %}
          <div class="form-error">
            This field can not be empty. Please specify book title.
          </div>
        {% endif %}

      </div>

      <div class="book-description">
        <label for="description">Description:</label>
        <textarea id="description" name='description'>{{book.description}}</textarea>
      </div>

      <div class="edit-buttons">
        <input type="submit" name="submit-button" value="Save">
        <input type="submit" name="submit-button" value="Cancel">
      </div>

    </form>
  </div>
</body>
</html>
