<html>

<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	<link href="https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
	{% include "header.html" %}

	<div class='pane'>
		<h2>Books by {{ category.name }}</h2>

		<a class="new" href = "{{url_for('newCatalogItem', category_id = category.id )}}">+ New Book</a>

    {% if items %}

			{% for item in items %}
				<div class="book-info">
					<h3>{{item.name}}</h3>

					{% if item.description %}
						<p>{{item.description}}</p>
					{% else %}
						<p>No description provided for this book yet.</p>
					{% endif %}

					<div class="edit-book-info">
						<a class="edit-delete" href='{{url_for('editCatalogItem', category_id=category.id, list_id=item.id ) }}'>
							Edit</a>
						<a class="edit-delete" href='{{url_for('deleteCatalogItem', category_id = category.id, list_id=item.id)}}'>
							Delete</a>
					</div>
				</div>
		{% endfor %}

		{% else %}
			<p>You don't have books of this author yet.<p>
		{% endif %}

</div>
</body>
</html>
