<!DOCTYPE html>
<html lang="en">
​
<head>
    <link href='//fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>
​
    <script src="//apis.google.com/js/platform.js?onload=init" async defer></script>`
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="489474672499-v9uhsrfeimjraj8hktb0qr9roi3jc3dd.apps.googleusercontent.com">
​
</head>
​
<body>
    <div class="container">
​
        <script>
        function init() {
              gapi.load('auth2', function () {
                console.log("loaded auth2")
                auth2 = gapi.auth2.init({
                  client_id: '489474672499-v9uhsrfeimjraj8hktb0qr9roi3jc3dd.apps.googleusercontent.com',
                  scope: 'profile email'
                });
                  console.log("Sign in button clicked")
                  auth2.grantOfflineAccess({
                    'redirect_uri': 'postmessage'
                  }).then(offlineAccess);
              });
            }

            function offlineAccess(resp) {
              console.log("In offline access")
              let auth_code = resp.code;
              console.log(resp);
              $.ajax({
                    type: "POST",
                    url: "{{url_for('gconnect')}}?state={{STATE}}",
                    processData: false,
                    contentType: 'application/octet-stream; charset=utf-8',
                    data: auth_code,
                    success: function () {
                        window.location.href = '/authors';
                      }
                });
              }
        </script>
​​    </div>
</body>
​
</html>
